**/.git
**/.gitignore
**/.vscode
**/.idea
**/node_modules
**/dist
**/.vite
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.coverage
**/sim_outputs/*
!**/sim_outputs/.gitkeep
**/.env
**/.venv
**/venv
